<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情-橘子校园</title>
    <link rel="shortcut icon" href="/static/image/橘子.png" type="image/x-icon">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootsnav.css">
    <link rel="stylesheet" href="/static/css/snav.css">
    <link rel="stylesheet" href="/static/css/shoppingCart.css">
    <link rel="stylesheet" href="/static/css/starability-basic.min.css">
    <link rel="stylesheet" href="/static/css/detail.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/tipBox.css">
</head>

<body>
<div class="tn-box" style="z-index: 2;width: auto;">
    <div><img src="/static/image/提示.png" style="margin-bottom: 3px;"></div>
    <p style="font-size: 14px;float: left;"></p>
</div>
<div th:include="head.html"></div>
<div class="main">
    <div class="goods_detail">
        <div class="preview_img">
            <img id="before" src="/static/image/card2.jpg">
            <div id="mask"></div>
            <div id="big">
                <img id="after" src="/static/image/card2.jpg">
            </div>
        </div>
        <div class="textContent">
            <div class="text">
                <div id="userInfo">
                    <div><img src="/static/image/未登录.png"></div>
                    <p>用户名</p>
                </div>
                <p id="goodsName">商品名称</p>
                <p id="desc">商品描述</p>
                <div class="goodsInfo">
                    <div><img src="/static/image/分期－价格排序.png"></div>
                    <p style="font-size: 17px;font-weight: 600;color: brown;">￥100</p>
                </div>
                <div class="goodsInfo" id="labelsBox">
                    <div><img src="/static/image/标签.png"></div>
                </div>
                <div class="goodsInfo">
                    <div><img src="/static/image/联系方式.png"></div>
                    <div style="padding-top: 3px;" id="weChat_id"><a href="javascript:;" style="text-decoration: none;" th:text="${user.wechatId}">登录后可查看联系方式</a>
                    </div>
                    <button id="addToCart">加入购物车</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comment">
    <div class="container">
        <div class="tab-group">
            <section id="tab1" title="全部评论">
                <ul class="all_comments">
                </ul>
            </section>
            <section id="tab2" title="好评">
                <ul class="all_comments">
                </ul>
            </section>
            <section id="tab3" title="中评">
                <ul class="all_comments">
                </ul>
            </section>
            <section id="tab4" title="差评">
                <ul class="all_comments">
                </ul>
            </section>
        </div>
    </div>
</div>
<div class="model">
    <div class="header">
        <h4>发表评论</h4>
        <button id="close_icon">✖</button>
    </div>
    <div class="content">
        <div class="score">
            <fieldset class="starability-basic">
                <input type="radio" id="rate5" name="rating" value="5"/>
                <label for="rate5" title="Amazing"></label>
                <input type="radio" id="rate4" name="rating" value="4"/>
                <label for="rate4" title="Very good"></label>
                <input type="radio" id="rate3" name="rating" value="3"/>
                <label for="rate3" title="Average"></label>
                <input type="radio" id="rate2" name="rating" value="2"/>
                <label for="rate2" title="Not good"></label>
                <input type="radio" id="rate1" name="rating" value="1"/>
                <label for="rate1" title="Terrible" style="background-position: 0px -20px;"></label>
            </fieldset>
        </div>
        <textarea rows="4" placeholder="请输入评论内容..."></textarea>
    </div>
    <div class="model-footer">
        <button id="confirm" style="background-color: rgb(0,105,217);">确定</button>
        <button id="cancel" style="background-color: rgb(90,98,104);">取消</button>
    </div>
</div>
<div class="block"></div>
<div th:include="footer.html" style="margin-top: 200px;"></div>

<script src="/static/js/jQuery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootsnav.js"></script>
<script src="/static/js/jquery-tab.js"></script>
<script src="/static/js/detail.js"></script>
<script src="/static/js/alertTool.js"></script>
<script th:inline="javascript">
    $(function () {
        // Calling the plugin
        $('.tab-group').tabify();
        //添加发表评论按钮
        $('.tab-group .tab-nav button').text("发表评论");
        const user = /*[[${user}]]*/ null;

        //点击购物车
        $('.container nav .shoppingCart a').click(function () {
            window.location = '/myCart';
        })

        //退出登录
        $('.container nav').on('click', '.tipBox form a', function () {
            $(this).parent().submit();
        })

        let id = /*[[${id}]]*/ null;//获取该商品的id

        //根据id获取商品的全部信息
        $.ajax({
            url: '/good/getOneGoods',
            method: 'post',
            data: {id: id},
            dataType: 'json',
            success: function (res1) {
                let goods = res1.data;
                //获取发布该商品的用户信息
                $.ajax({
                    url: '/user/getOneUser',
                    method: 'post',
                    data: {userId: goods.userId},
                    dataType: 'json',
                    success: function (res) {
                        let user = res.data;
                        //渲染用户信息
                        $('#userInfo img').prop('src', user.iconUrl);
                        $('#userInfo p').text(user.username);
                        $('.goodsInfo a').text(user.weChatId);
                    }
                })
                //渲染商品信息
                $('.preview_img #before').prop('src', goods.imgUrl);
                $('.preview_img #after').prop('src', goods.imgUrl);
                $('#goodsName').text(goods.goodsName);
                $('#desc').text(goods.goodsDesc);
                $('.goodsInfo p').text("￥" + goods.price);
                if (goods.labels != null) {
                    let labels = goods.labels.split(",");
                    for (let i = 0; i < labels.length; i++) {
                        let labelItem = $('<button></button>');
                        labelItem.text(labels[i]);
                        $('#labelsBox').append(labelItem);
                    }
                }
            }
        })

        //将该商品加入购物车
        $('#addToCart').click(function () {
            $.ajax({
                url: '/good/addToCart',
                method: 'post',
                data: {goodsId : id},
                dataType: 'json',
                success: function (res) {
                    if (res.code == 0) {
                        toastr.error("加入购物车失败");
                    } else {
                        toastr.info("添加购物车成功");
                    }
                }
            })
        })

        //根据id获取该商品的评论信息
        let commentType = 0;
        let getComment = function () {
            $.ajax({
                url: '/good/getComment',
                method: 'post',
                data: {goodsId: id, commentType: commentType},
                dataType: 'json',
                success: function (res) {
                    if (res.code != 0) {
                        let comments = res.data;
                        comments.forEach((item) => {
                            let commentObject = item;
                            let comment = $('<li><div class="user_pic"><img></div>' +
                                '<p style="float: left;"></p>' +
                                '<div class="score_box">' +
                                '<fieldset class="starability-basic">' +
                                '<input type = "radio" name = "rating" value = "5" />' +
                                '<label title = "Amazing" ></label>' +
                                '<input type="radio" name="rating" value="4"/>' +
                                '<label title="Very good"></label>' +
                                '<input type="radio" name="rating" value="3"/>' +
                                '<label title="Average"></label>' +
                                '<input type="radio" name="rating" value="2"/>' +
                                '<label title="Not good"></label>' +
                                '<input type="radio" name="rating" value="1"/>' +
                                '<label title="Terrible"></label>' +
                                '</fieldset>' +
                                '<p></p></div></li>')
                            $.ajax({
                                url: '/user/getOneUser',
                                method: 'post',
                                data: {userId: commentObject.userId},
                                dataType: 'json',
                                success: function (res) {
                                    let user = res.data;
                                    comment.find('img').prop('src', user.iconUrl);
                                    comment.children('p').text(user.username);
                                }
                            })
                            let score = commentObject.score;
                            if (score === 5) {
                                comment.find('label').each(function (i, dom) {
                                    $(dom).css('background-position', '0px -20px');
                                })
                            } else {
                                comment.find('label').eq(5 - score).prevAll('label').each(function (i, dom) {
                                    $(dom).css('background-position', '0px 0px');
                                })
                                comment.find('label').eq(4 - score).nextAll('label').each(function (i, dom) {
                                    $(dom).css('background-position', '0px -20px');
                                })
                            }
                            comment.find('.score_box p').text(commentObject.commentContent);
                            //将评论插入对应的类别
                            switch (commentType) {
                                case 0:
                                    $('#tab1 ul').append(comment);
                                    break;
                                case 1:
                                    $('#tab2 ul').append(comment);
                                    break;
                                case 2:
                                    $('#tab3 ul').append(comment);
                                    break;
                                case 3:
                                    $('#tab4 ul').append(comment);
                                    break;
                                default:
                                    break;
                            }
                        })
                    }
                }
            })
        }
        getComment();//初始时调用获取全部评论

        //隐藏评论框
        let hideModel = function () {
            $('.model').fadeOut();
            $('.block').hide();
        }
        //跳出提示信息框
        let show_alert = function () {
            $('.tn-box').addClass('tn-box-active');
            window.setTimeout(function () {
                $('.tn-box').removeClass('tn-box-active');
            }, 1000);
        }

        //点击提交评论按钮
        $('.model #confirm').click(function () {
                    let formData = new FormData();//提交给后端的数据
                    formData.append("goodsId", id);
                    formData.append("commentContent", $('.model textarea').val());
                    let scores = 0;//用户评分
                    $('.model .score label').each(function (i, dom) {
                    if ($(dom).css('background-position') == '0px -20px') {
                    scores++;
                }
                })
                    formData.append("score", scores);
                    $.ajax({
                    url: '/comment/addComment',
                    method: 'post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                    hideModel();
                }
                })
        })

        //点击评论栏的标签，切换评论种类
        $('.tab-group').on('click', '.tab-nav li', function () {
            $('.tab-group .tab-nav li').each(function (index, dom) {
                //切换标签
                if ($(dom).hasClass('active') && index != commentType) {
                    commentType = index;
                    $('.tab-group section').eq(index).find('ul').empty();
                    getComment();
                }
            })
        })

    })
</script>
</body>

</html>