<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-mobile bootsnav on"
                 style="position: relative;margin-bottom: 10px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <div class="icon">
                        <img src="/static/image/橘子.png">
                        <div>橘子校园</div>
                    </div>
                    <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="/">主页</a></li>
                        <li><a href="/goodList">二手商品</a></li>
                        <li><a href="/findGoods">求购</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li></li>
                        <li style="margin-left: 50px">
                            <div class="shoppingCart">
                                <a>购物车</a>
                                <img src="/static/image/购物车空.png" style="width: 30px;height: 30px;margin: 0 10px;">
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布</a>
                            <ul class="dropdown-menu animated">
                                <li style="border-bottom: 1px solid gray;">
                                    <div style="height: 40px;display: flex;align-items: center;">
                                        <div class="release"><img src="/static/image/发布商品.png"></div>
                                        <div><a href="/good/releaseGoods">发布商品</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div style="height: 40px;display: flex;align-items: center;">
                                        <div class="release"><img src="/static/image/发布求购.png"></div>
                                        <div><a href="/good/seekGoods">发布求购</a></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" style="margin-left: 30px">
                            <div id="icon" class="btn icon dropdown-toggle" style="margin: 0 0 0 0; height: 78px"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img th:src="${user.iconUrl}"
                                     style="width: 55px; height: 55px; margin-top: 5px; margin-left: 5px">
                                <div id="login" style="text-align: left;"><a style="margin-left: 10px; margin-top: 6px"
                                                                             th:text="${user.username}"></a></div>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="icon">
                                <li><a href="/user/userInfo">个人中心</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>
</body>
</html>