<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页-橘子校园</title>
  <link rel="shortcut icon" href="/static/image/橘子.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <script src="/static/js/jQuery.min.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/backTop.js"></script>
  <!-- CSS -->
    <style>
    #logoutBtn{
      cursor: pointer;
    }
  </style>
</head>

<body>
<a href="javascript:;" class="cd-top">Top</a>
<div class="main">
  <div id="login">
    <div><img src="/static/image/登录-头像.png"></div>
    <a id="logoutBtn" style="margin-left: 5px;">退出登录</a>
  </div>
  <div class="top">
    <div id="title">橘子校园</div>
    <div id="desc">— 专注校园二手 —</div>
    <div class="cardList">
      <div class="card" id="card1">
        <div class="block"></div>
        <div class="cardContent">
          <h2>校园二手</h2>
          <p>众里寻它，蓦然回首</p>
          <p>而它就在 — 橘子求购</p>
          <button><a href="/goodList">校园二手</a></button>
        </div>
      </div>
      <div class="card" id="card2">
        <div class="block"></div>
        <div class="cardContent">
          <h2>校园求购</h2>
          <p>完好无损，不舍丢弃</p>
          <p>或许有人正需要它</p>
          <button><a href="/findGoods">校园求购</a></button>
        </div>
      </div>
      <div class="card" id="card3">
        <div class="block"></div>
        <div class="cardContent">
          <h2>发布商品</h2>
          <p>带不走的东西，丢不掉的记忆</p>
          <p>让小橘子，帮它找到新的主人</p>
          <button><a href="/good/releaseGoods">发布商品</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="desc">
    <h1 style="margin-top: 100px;text-align: center;color
            :rgb(136, 218, 136);">适合学生的交易平台</h1>
    <h3 style="margin: 10px; text-align: center;font-weight: 300;">为校园内的每一位学生提供优质的服务。以下是我们一直贯彻的事情</h3>
    <div class="container">
      <div class="picture"><img src="/static/image/交易.jpeg"></div>
      <div class="content">
        <h1>足够的安全性</h1>
        <p>交易过程由买家和卖家对接，无需通过第三方沟通，信息对称，确保安全</p>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left: 64px;">
        <h1>快捷方便，随时可取</h1>
        <p>该平台支持的是校园内的二手交易，省去了物流，不需要等待，取件的时间根据两者之间的意愿决定</p>
      </div>
      <div class="picture"><img src="/static/image/送货上门.jpeg"></div>
    </div>
    <div class="container">
      <div class="picture"><img src="/static/image/购物.jpeg"></div>
      <div class="content">
        <h1>提供最简单的操作</h1>
        <p>只需要注册平台，便能够发布自己要出售的物品，能够查看自己所需物品的卖家的联系方式，无需繁琐操作</p>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left: 64px;">
        <h1>种类齐全，价格合理</h1>
        <p>该平台的物品种类丰富，相信你一定可以找到你想要的那一个，价格合理</p>
      </div>
      <div class="picture"><img src="/static/image/多样化.png"></div>
    </div>
    <div style="clear:both"></div>
  </div>
  <div th:include="footer.html"></div>
</div>
<script th:inline="javascript">
  $(function () {
    let tipBox = $('<div class="tipBox"><ul>' +
            '<li style="border-bottom: 1px solid rgb(128,128,128);">' +
            '<a href="/user/userInfo">个人中心</a></li>' +
            '<li><form action="/outToIndex" method="get"><a href="javascript:;">退出</a></form></li> </ul></div>');

    const user = /*[[${user}]]*/ null;
    if(user != null){
      $('#login a').text(user.username);
      $('#login img').prop('src',user.iconUrl);
      $('#login a').prop('href', 'javascript:;');
      $('#login').append(tipBox);
    }
    //退出登录
    $('#logoutBtn').click(function (){
      if(confirm("确认退出？")){
        window.location.href="/logout";
      }
    })
    let flag1 = 0, flag2 = 0;
    $('#login a').on({
      mouseover: function () {
        tipBox.css('display', 'block');
        flag1 = 1;
      },
      mouseout: function () {
        flag1 = 0
      }
    });
    tipBox.on({
      mouseover: function () {
        flag2 = 1
      },
      mouseout: function () {
        flag2 = 0
      }
    });
    setInterval(function () {
      if (!flag1 && !flag2) {
        tipBox.css('display', 'none');
      }
    }, 10);
  })
</script>
</body>

</html>