<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>发布求购-橘子校园</title>
  <link rel="shortcut icon" href="/static/image/橘子.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/release.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .common-footer p {
      margin-bottom: 0;
    }
  </style>
</head>
<body>
<div class="tn-box">
  <div><img src="/static/image/提示.png" style="margin-bottom: 3px;"></div>
  <p style="font-size: 14px;float: left;"></p>
</div>
<div class="title">
  <div><img src="/static/image/波浪线.png"></div>
  <p style="font-size: 30px;font-weight: bold;color: orange;float: left;">橘子校园</p>
  <div style="margin-left: 10px;"><img src="/static/image/波浪线.png"></div>
</div>
<div id="main">
  <div style="text-align: center;">
    <p>发布求购</p>
  </div>
  <form action="/goods/addWantRecord" method="post">
    <div class="form-group">
      <label for="good_name">标题</label>
      <input type="email" class="form-control" id="good_name" aria-describedby="emailHelp"
             placeholder="需要的商品" name="title">
    </div>
    <div class="form-group">
      <label for="desc">商品描述</label>
      <textarea class="form-control" id="desc" rows="3"
                placeholder="关于商品的简单描述，让别人更清晰地了解你的需求" name="goodsDesc"></textarea>
    </div>
    <div class="form-group">
      <label for="price">可接受价格</label>
      <input type="number" class="form-control" id="price" aria-describedby="emailHelp"
             placeholder="如100~200元" style="width: 40%;" name="wantPrice">
    </div>
    <div class="form-group">
      <label for="weChat_id">微信</label>
      <input type="email" class="form-control" id="weChat_id" aria-describedby="emailHelp"
             placeholder="微信号" style="width: 30%;" name="weChatId">
    </div>
    <div style="width: 100%;text-align: center;">
      <button type="button" class="btn btn-primary">提 交</button>
    </div>
  </form>
</div>
<div th:include="footer.html"></div>
<script src="/static/js/jQuery.min.js"></script>
<script>
  $(function () {
    let show_alert = function () {
      $('.tn-box').addClass('tn-box-active');
      window.setTimeout(function () {
        $('.tn-box').removeClass('tn-box-active');
      }, 1000);
    };

    $('.btn').click(function () {
      if ($('#good_name').val() == "") {
        $('.tn-box p').text("请填写标题");
        show_alert();
      } else if ($('#desc').val() == "") {
        $('.tn-box p').text("请填写描述");
        show_alert();
      } else if ($('#price').val() == "") {
        $('.tn-box p').text("请填写价格");
        show_alert();
      } else if ($('#weChat_id').val() == "") {
        $('.tn-box p').text("请填写微信号");
        show_alert();
      } else {
        $('#main form').submit();
      }
    })
  })
</script>
</body>
</html>