<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心-橘子校园</title>
    <link rel="shortcut icon" href="/static/image/橘子.png" type="image/x-icon">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootsnav.css">
    <link rel="stylesheet" href="/static/css/snav.css">
    <link rel="stylesheet" href="/static/css/shoppingCart.css">
    <link rel="stylesheet" href="/static/css/user_info.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/tipBox.css">
    <style>
        .common-footer p {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
<div class="tn-box">
    <div><img src="/static/image/提示.png" style="margin-bottom: 3px;"></div>
    <p style="font-size: 14px;float: left;"></p>
</div>
<div th:include="head.html"></div>
<div id="main">
    <div class="tab_title">
        <ul>
            <li class="current">个人信息</li>
            <li>我的商品</li>
            <li>我的求购</li>
        </ul>
    </div>
    <div>
        <form>
            <div class="form-group">
                <label for="username">昵称</label>
                <input type="email" th:value="${user.username}" class="form-control" id="username"
                       aria-describedby="emailHelp" name="username">
            </div>
            <div class="form-group">
                <label for="sign">个性签名</label>
                <textarea class="form-control" id="sign" rows="3" name="signature"
                          th:text="${user.signature}"></textarea>
            </div>
            <div class="form-group">
                <label>头像</label>
                <div class="upload">
                    <div>上传头像</div>
                    <input type="file" name="iconUrl">
                    <img th:src="${user.iconUrl}">
                </div>

            </div>
            <div class="form-group">
                <label for="weChat_id">微信号</label>
                <input type="email" class="form-control" id="weChat_id" aria-describedby="emailHelp"
                       style="width: 50%;" th:value="${user.wechatId}" name="weChatId">
            </div>
            <div style="width: 100%;text-align: center;">
                <button type="button" class="btn btn-primary" id="save">保 存</button>
                <button type="button" class="btn btn-primary" id="cancel">取 消</button>
            </div>
        </form>
    </div>
    <div class="goodsInfo">
        <ul>
        </ul>
    </div>
    <div class="goodsInfo">
        <ul>
        </ul>
    </div>
</div>
<div th:include="footer.html" style="margin-top: 200px;"></div>

<script src="/static/js/jQuery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootsnav.js"></script>
<script src="/static/js/alertTool.js"></script>
<script>
    $(function () {

        //点击购物车
        $('.container nav .shoppingCart a').click(function () {
            window.location = '/myCart';
        })

        //退出登录
        $('.container nav').on('click', '.tipBox form a', function () {
            $(this).parent().submit();
        })

        //切换tab选项
        $('.tab_title li').click(function () {
            $(this).siblings().removeClass('current');
            $(this).addClass('current');
            let index = $(this).index();
            $(this).parent().parent().siblings('div').hide();
            $(this).parent().parent().siblings('div')[index].style.display = 'block';
        })

        //点击取消按钮刷新页面，恢复修改前的数据
        $('#cancel').click(function () {
            window.location.reload();
        })

        //弹出警告框
        let show_alert = function (content) {
            $('.tn-box p').text(content);
            $('.tn-box').addClass('tn-box-active');
            window.setTimeout(function () {
                $('.tn-box').removeClass('tn-box-active');
            }, 1000);
        }

        //本地预览上传图片
        $('.upload input').change(function () {
            let filePath = $(this).val(), fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
                src = window.URL.createObjectURL(this.files[0]);
            //检查是否为图片
            if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
                show_alert("只支持png、jpg、jpeg三种图片格式");
            } else {
                $('.upload img').prop('src', src);
            }
        })

        //点击保存按钮
        $('#save').click(function () {
            if ($('#username').val() === "") {
                show_alert("昵称不能为空");
                return;
            }
            if ($('#weChat_id').val() === "") {
                show_alert("微信号不能为空");
                return;
            }

            let formData = new FormData($('#main form')[0]);
            if ($('.upload input').val() !== "") {
                let src = window.URL.createObjectURL($('.upload input')[0].files[0]);
                formData.append("iconName", src.substring(src.lastIndexOf("/") + 1));
            }
            //更新用户信息
            $.ajax({
                url: '/user/updateUserInfo',
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.code == 1) {
                        show_alert(res.msg);
                    } else {
                        show_alert(res.msg);
                    }
                }
            })
        })

        //获取该用户发布的全部商品信息
        $('.tab_title li:eq(1)').one('click', function () {
            $.ajax({
                url: '/good/getReleased',
                method: 'post',
                dataType: "json",
                success: function (res) {
                    data = res.data;
                    let releasedGoods = data;
                    releasedGoods.forEach((item) => {
                        let goods = item;
                        let li = $('<li><input style="display: none;"><img>' +
                            '<p style="margin-bottom: 0;"></p>' +
                            '<label style="margin: 0 50px 0 100px;"></label>' +
                            '<a href="javascript:;" class="delReleased">下架商品</a></li>');
                        li.find('input').val(goods.id);
                        li.find('img').prop('src', goods.imgUrl);
                        li.find('p').text(goods.goodsName);
                        li.find('label').text(goods.price);
                        $('.goodsInfo:eq(0) ul').prepend(li);
                    })
                }
            })
        })

        //获取该用户发布的全部求购信息
        $('.tab_title li:eq(2)').one('click', function () {
            $.ajax({
                url: '/good/getMySeek',
                method: 'post',
                dataType: 'json',
                success: function (res) {
                    if (res.code != 0) {
                        let seekRecords = res.data;
                        seekRecords.forEach((item) => {
                            let seekInfo = item;
                            let li = $('<li><input style="display: none;">' +
                                '<label style="margin:0 50px 0 0;"></label>' +
                                '<p style="margin-bottom: 0;"></p>' +
                                '<a href="javascript:;" class="delSeekInfo">删除求购</a></li>');
                            li.find('input').val(seekInfo.id);
                            li.find('label').text(seekInfo.title);
                            li.find('p').text(seekInfo.goodsDesc);
                            $('.goodsInfo:eq(1) ul').prepend(li);
                        })
                    }
                }
            })
        })

        //下架商品
        $('.goodsInfo ul').on('click', 'li .delReleased', function () {
            let parent = $(this).parent();
            $.ajax({
                url: '/good/offShelf',
                method: 'post',
                dataType: 'json',
                data: {goodsId: $(this).siblings('input').val()},
                success: function (res) {
                    if(res.code == 1){
                        toastr.info("删除商品成功");
                        parent.remove();
                    }else {
                        toastr.error(res.msg);
                    }
                }
            })
        })

        //删除求购信息
        $('.goodsInfo ul').on('click', 'li .delSeekInfo', function () {
            let parent = $(this).parent();
            $.ajax({
                url: '/good/delSeekInfo',
                method: 'post',
                dataType: 'json',
                data: {id: $(this).siblings('input').val()},
                success: function (res) {
                    if(res.code == 1){
                        toastr.info("删除求购信息成功");
                        parent.remove();
                    }else {
                        toastr.error(res.msg);
                    }
                }
            })
        })
    })
</script>
</body>

</html>